<!DOCTYPE html>
<html><head><title>LayoutAccessor.cs</title><link rel="stylesheet" href="../../styles.css"><script src="../../scripts.js"></script></head>
<body class="cB" onload="i(35);"><div class="dH">
<table style="width: 100%">
<tr><td>File: <a id="filePath" class="blueLink" href="/#OrchardCore.DisplayManagement/Layout/LayoutAccessor.cs" target="_top">Layout\LayoutAccessor.cs</a><br/></td><td></td></tr>
<tr><td>Project: <a id="projectPath" class="blueLink" href="/#OrchardCore.DisplayManagement" target="_top">src\OrchardCore\OrchardCore.DisplayManagement\OrchardCore.DisplayManagement.csproj</a> (OrchardCore.DisplayManagement)</td><td></td></tr>
</table>
</div>
<div class="cz"><table class="tb" cellpadding="0" cellspacing="0"><tr><td valign="top" align="right"><pre id="ln"></pre></td><td valign="top" align="left"><pre id="code">
<b>using</b> <span class="i n">System</span>;
<b>using</b> <span class="i n">System</span>.<span class="i n">Threading</span>.<span class="i n">Tasks</span>;
<b>using</b> <span class="i n">OrchardCore</span>.<span class="i n">DisplayManagement</span>.<span class="i n">Zones</span>;
 
<b>namespace</b> <span class="i n">OrchardCore</span>.<span class="i n">DisplayManagement</span>.<span class="i n">Layout</span>
{
    <b>public class</b> <a id="9c7d619f17378112" href="../R/9c7d619f17378112.html" target="n" data-glyph="0,0" class="t t">LayoutAccessor</a> : <a href="ILayoutAccessor.cs.html#1db760e65443bcbe" class="t t">ILayoutAccessor</a>
    {
        <b>private</b> <a href="../Zones/ZoneHoldingBehavior.cs.html#d5c0b8db92fbeb7b" class="t t">IZoneHolding</a> <a id="471473853b5263b8" href="../R/471473853b5263b8.html" target="n" data-glyph="46,1" class="i field">_layout</a>;
        <b>private readonly</b> <a href="../IShapeFactory.cs.html#b93d6db1df498056" class="t t">IShapeFactory</a> <a id="ddd60a99dc45fcf5" href="../R/ddd60a99dc45fcf5.html" target="n" data-glyph="46,1" class="i field">_shapeFactory</a>;
 
        <b>public</b> <a id="d6c6479d2e019897" href="../R/../../0000000000.html" target="n" data-glyph="72,1" class="t constructor">LayoutAccessor</a>(<a href="../IShapeFactory.cs.html#b93d6db1df498056" class="t t">IShapeFactory</a> <span id="r0 rd" class="r0 r">shapeFactory</span>)
        {
            <a href="#ddd60a99dc45fcf5" class="i field">_shapeFactory</a> = <span class="r0 r">shapeFactory</span>;
        }
 
        <b>public async</b> <a href="@1@System.Runtime/A.html#5ca7b77f3df89fc6" class="t t">Task</a>&lt;<a href="../Zones/ZoneHoldingBehavior.cs.html#d5c0b8db92fbeb7b" class="t t">IZoneHolding</a>&gt; <a id="896f0eea48bb652d" href="../R/896f0eea48bb652d.html" target="n" data-glyph="72,1" class="i method">GetLayoutAsync</a>()
        {
            <b>if</b> (<a href="#471473853b5263b8" class="i field">_layout</a> == <b>null</b>)
            {
                <span class="c">// Create a shape whose properties are dynamically created as Zone shapes</span>
                <a href="#471473853b5263b8" class="i field">_layout</a> = <b>await</b> <a href="#ddd60a99dc45fcf5" class="i field">_shapeFactory</a>.<a href="../IShapeFactory.cs.html#8601a64467a52180" class="i method">CreateAsync</a>(<span class="s">&quot;Layout&quot;</span>, () =&gt; <b>new</b> <a href="@1@System.Runtime/A.html#681e029e36e2b939" class="t constructor">ValueTask</a>&lt;<a href="../IShape.cs.html#1b6ae4719962ce25" class="t t">IShape</a>&gt;(<b>new</b> <a href="../Zones/ZoneHoldingBehavior.cs.html#ff656bdc85abd0e9" class="t constructor">ZoneHolding</a>(() =&gt; <a href="#ddd60a99dc45fcf5" class="i field">_shapeFactory</a>.<a href="../IShapeFactory.cs.html#bd6787f69c507742" class="i method">CreateAsync</a>(<span class="s">&quot;Zone&quot;</span>)))) <b>as</b> <a href="../Zones/ZoneHoldingBehavior.cs.html#d5c0b8db92fbeb7b" class="t t">IZoneHolding</a>;
            }
 
            <b>if</b> (<a href="#471473853b5263b8" class="i field">_layout</a> == <b>null</b>)
            {
                <span class="c">// At this point a Layout shape should always exist</span>
                <b>throw</b> <b>new</b> <a href="@1@System.Runtime/A.html#1bdc83295b86b4d6" class="t constructor">ApplicationException</a>(<span class="s">&quot;Fatal error, a Layout couldn&#39;t be created.&quot;</span>);
            }
 
            <b>return</b> <a href="#471473853b5263b8" class="i field">_layout</a>;
        }
    }
}
</pre></td></tr></table></div></body></html>
