<!DOCTYPE html>
<html><head><title>ShapeViewModelOfT.cs</title><link rel="stylesheet" href="../../styles.css"><script src="../../scripts.js"></script></head>
<body class="cB" onload="i(13);"><div class="dH">
<table style="width: 100%">
<tr><td>File: <a id="filePath" class="blueLink" href="/#OrchardCore.DisplayManagement/Views/ShapeViewModelOfT.cs" target="_top">Views\ShapeViewModelOfT.cs</a><br/></td><td></td></tr>
<tr><td>Project: <a id="projectPath" class="blueLink" href="/#OrchardCore.DisplayManagement" target="_top">src\OrchardCore\OrchardCore.DisplayManagement\OrchardCore.DisplayManagement.csproj</a> (OrchardCore.DisplayManagement)</td><td></td></tr>
</table>
</div>
<div class="cz"><table class="tb" cellpadding="0" cellspacing="0"><tr><td valign="top" align="right"><pre id="ln"></pre></td><td valign="top" align="left"><pre id="code">
<b>namespace</b> <span class="i n">OrchardCore</span>.<span class="i n">DisplayManagement</span>.<span class="i n">Views</span>
{
    <b>public class</b> <a id="70bf6951a16b417a" href="../R/70bf6951a16b417a.html" target="n" data-glyph="0,0" class="t t">ShapeViewModel</a>&lt;<span id="r0 rd t" class="r0 r t">T</span>&gt; : <a href="ShapeViewModel.cs.html#b01fd6b56521ebcd" class="t t">ShapeViewModel</a>
    {
        <b>public</b> <a id="145827c83bd1c92c" href="../R/145827c83bd1c92c.html" target="n" data-glyph="72,1" class="t constructor">ShapeViewModel</a>(<span class="r0 r t">T</span> <span id="r1 rd" class="r1 r">value</span>)
        {
            <a href="#223f7fef0ea29d42" class="i property">Value</a> = <span class="r1 r">value</span>;
        }
 
        <b>public</b> <span class="r0 r t">T</span> <a id="223f7fef0ea29d42" href="../R/223f7fef0ea29d42.html" target="n" data-glyph="102,1" class="i property">Value</a> { <b>get</b>; }
    }
}
</pre></td></tr></table></div></body></html>
