<!DOCTYPE html>
<html><head><title>ShapeResult.cs</title><link rel="stylesheet" href="../../styles.css"><script src="../../scripts.js"></script></head>
<body class="cB" onload="i(306);"><div class="dH">
<table style="width: 100%">
<tr><td>File: <a id="filePath" class="blueLink" href="/#OrchardCore.DisplayManagement/Views/ShapeResult.cs" target="_top">Views\ShapeResult.cs</a><br/></td><td></td></tr>
<tr><td>Project: <a id="projectPath" class="blueLink" href="/#OrchardCore.DisplayManagement" target="_top">src\OrchardCore\OrchardCore.DisplayManagement\OrchardCore.DisplayManagement.csproj</a> (OrchardCore.DisplayManagement)</td><td></td></tr>
</table>
</div>
<div class="cz"><table class="tb" cellpadding="0" cellspacing="0"><tr><td valign="top" align="right"><pre id="ln"></pre></td><td valign="top" align="left"><pre id="code">
<b>using</b> <span class="i n">System</span>;
<b>using</b> <span class="i n">System</span>.<span class="i n">Collections</span>.<span class="i n">Generic</span>;
<b>using</b> <span class="i n">System</span>.<span class="i n">Threading</span>.<span class="i n">Tasks</span>;
<b>using</b> <span class="i n">OrchardCore</span>.<span class="i n">DisplayManagement</span>.<span class="i n">Descriptors</span>;
<b>using</b> <span class="i n">OrchardCore</span>.<span class="i n">DisplayManagement</span>.<span class="i n">Handlers</span>;
<b>using</b> <span class="i n">OrchardCore</span>.<span class="i n">DisplayManagement</span>.<span class="i n">Implementation</span>;
<b>using</b> <span class="i n">OrchardCore</span>.<span class="i n">DisplayManagement</span>.<span class="i n">Shapes</span>;
<b>using</b> <span class="i n">OrchardCore</span>.<span class="i n">DisplayManagement</span>.<span class="i n">Zones</span>;
<b>using</b> <span class="i n">OrchardCore</span>.<span class="i n">Environment</span>.<span class="i n">Cache</span>;
 
<b>namespace</b> <span class="i n">OrchardCore</span>.<span class="i n">DisplayManagement</span>.<span class="i n">Views</span>
{
    <b>public class</b> <a id="9f3c945ca087955a" href="../R/9f3c945ca087955a.html" target="n" data-glyph="0,0" class="t t">ShapeResult</a> : <a href="IDisplayResult.cs.html#90581056f92b6ffb" class="t t">IDisplayResult</a>
    {
        <b>private string</b> <a id="c3bd1de286359b93" href="../R/c3bd1de286359b93.html" target="n" data-glyph="46,1" class="i field">_defaultLocation</a>;
        <b>private</b> <span class="t t">Dictionary</span>&lt;<a href="@1@System.Runtime/A.html#8281103e6f23cb5c" class="k">string</a>, <a href="@1@System.Runtime/A.html#8281103e6f23cb5c" class="k">string</a>&gt; <a id="c7dacef7aba61f7d" href="../R/c7dacef7aba61f7d.html" target="n" data-glyph="46,1" class="i field">_otherLocations</a>;
        <b>private string</b> <a id="c04dcef43e54700e" href="../R/c04dcef43e54700e.html" target="n" data-glyph="46,1" class="i field">_name</a>;
        <b>private string</b> <a id="4d04bda26796047a" href="../R/4d04bda26796047a.html" target="n" data-glyph="46,1" class="i field">_differentiator</a>;
        <b>private string</b> <a id="5e4a923e41a80bc5" href="../R/5e4a923e41a80bc5.html" target="n" data-glyph="46,1" class="i field">_prefix</a>;
        <b>private string</b> <a id="a0d402a497742e9f" href="../R/a0d402a497742e9f.html" target="n" data-glyph="46,1" class="i field">_cacheId</a>;
        <b>private readonly string</b> <a id="d001f52166ea5ae2" href="../R/d001f52166ea5ae2.html" target="n" data-glyph="46,1" class="i field">_shapeType</a>;
        <b>private readonly</b> <a href="@1@System.Runtime/A.html#7a86aba051da82dd" class="t t">Func</a>&lt;<a href="../Handlers/IBuildShapeContext.cs.html#440581352c3e294c" class="t t">IBuildShapeContext</a>, <a href="@1@System.Runtime/A.html#77a292425839ae85" class="t t">ValueTask</a>&lt;<a href="../IShape.cs.html#1b6ae4719962ce25" class="t t">IShape</a>&gt;&gt; <a id="8267af3ecc5a445e" href="../R/8267af3ecc5a445e.html" target="n" data-glyph="46,1" class="i field">_shapeBuilder</a>;
        <b>private readonly</b> <a href="@1@System.Runtime/A.html#7a86aba051da82dd" class="t t">Func</a>&lt;<a href="../IShape.cs.html#1b6ae4719962ce25" class="t t">IShape</a>, <a href="@1@System.Runtime/A.html#045a746eb48cbaa9" class="t t">Task</a>&gt; <a id="f32906b5876a795a" href="../R/f32906b5876a795a.html" target="n" data-glyph="46,1" class="i field">_processing</a>;
        <b>private</b> <a href="@1@System.Runtime/A.html#486d58da4553e12d" class="t t">Action</a>&lt;<a href="/OrchardCore.Infrastructure.Abstractions/A.html#ac2fe3ab5208377e" class="t t">CacheContext</a>&gt; <a id="1fe49185803bd400" href="../R/1fe49185803bd400.html" target="n" data-glyph="46,1" class="i field">_cache</a>;
        <b>private string</b> <a id="497ccc70acd93c70" href="../R/497ccc70acd93c70.html" target="n" data-glyph="46,1" class="i field">_groupId</a>;
        <b>private</b> <a href="@1@System.Runtime/A.html#486d58da4553e12d" class="t t">Action</a>&lt;<a href="../Implementation/ShapeDisplayContext.cs.html#0fe1137e8e1878e1" class="t t">ShapeDisplayContext</a>&gt; <a id="0ca4c5786f17046b" href="../R/0ca4c5786f17046b.html" target="n" data-glyph="46,1" class="i field">_displaying</a>;
        <b>private</b> <a href="@1@System.Runtime/A.html#87d60abb7092d5a4" class="t t">Func</a>&lt;<a href="@1@System.Runtime/A.html#5ca7b77f3df89fc6" class="t t">Task</a>&lt;<b>bool</b>&gt;&gt; <a id="943258581b518f59" href="../R/943258581b518f59.html" target="n" data-glyph="46,1" class="i field">_renderPredicateAsync</a>;
 
        <b>public</b> <a id="cbf57403c6fb3954" href="../R/cbf57403c6fb3954.html" target="n" data-glyph="72,1" class="t constructor">ShapeResult</a>(<a href="@1@System.Runtime/A.html#8281103e6f23cb5c" class="k">string</a> <span id="r0 rd" class="r0 r">shapeType</span>, <a href="@1@System.Runtime/A.html#7a86aba051da82dd" class="t t">Func</a>&lt;<a href="../Handlers/IBuildShapeContext.cs.html#440581352c3e294c" class="t t">IBuildShapeContext</a>, <a href="@1@System.Runtime/A.html#77a292425839ae85" class="t t">ValueTask</a>&lt;<a href="../IShape.cs.html#1b6ae4719962ce25" class="t t">IShape</a>&gt;&gt; <span id="r1 rd" class="r1 r">shapeBuilder</span>)
            : <a href="#0f3909eb6798fff0" class="k">this</a>(<span class="r0 r">shapeType</span>, <span class="r1 r">shapeBuilder</span>, <b>null</b>)
        {
        }
 
        <b>public</b> <a id="0f3909eb6798fff0" href="../R/0f3909eb6798fff0.html" target="n" data-glyph="72,1" class="t constructor">ShapeResult</a>(<a href="@1@System.Runtime/A.html#8281103e6f23cb5c" class="k">string</a> <span id="r2 rd" class="r2 r">shapeType</span>, <a href="@1@System.Runtime/A.html#7a86aba051da82dd" class="t t">Func</a>&lt;<a href="../Handlers/IBuildShapeContext.cs.html#440581352c3e294c" class="t t">IBuildShapeContext</a>, <a href="@1@System.Runtime/A.html#77a292425839ae85" class="t t">ValueTask</a>&lt;<a href="../IShape.cs.html#1b6ae4719962ce25" class="t t">IShape</a>&gt;&gt; <span id="r3 rd" class="r3 r">shapeBuilder</span>, <a href="@1@System.Runtime/A.html#7a86aba051da82dd" class="t t">Func</a>&lt;<a href="../IShape.cs.html#1b6ae4719962ce25" class="t t">IShape</a>, <a href="@1@System.Runtime/A.html#045a746eb48cbaa9" class="t t">Task</a>&gt; <span id="r4 rd" class="r4 r">processing</span>)
        {
            <span class="c">// The shape type is necessary before the shape is created as it will drive the placement</span>
            <span class="c">// resolution which itself can prevent the shape from being created.</span>
 
            <a href="#d001f52166ea5ae2" class="i field">_shapeType</a> = <span class="r2 r">shapeType</span>;
            <a href="#8267af3ecc5a445e" class="i field">_shapeBuilder</a> = <span class="r3 r">shapeBuilder</span>;
            <a href="#f32906b5876a795a" class="i field">_processing</a> = <span class="r4 r">processing</span>;
        }
 
        <b>public</b> <a href="@1@System.Runtime/A.html#045a746eb48cbaa9" class="t t">Task</a> <a id="61c139c785e39538" href="../R/61c139c785e39538.html" target="n" data-glyph="72,1" class="i method">ApplyAsync</a>(<a href="../Handlers/BuildDisplayContext.cs.html#c7443c2b211ac7e2" class="t t">BuildDisplayContext</a> <span id="r5 rd" class="r5 r">context</span>)
        {
            <b>return</b> <a href="#215a33f727edc225" class="i method">ApplyImplementationAsync</a>(<span class="r5 r">context</span>, <span class="r5 r">context</span>.<a href="../Handlers/BuildDisplayContext.cs.html#14aa652f160b554a" class="i property">DisplayType</a>);
        }
 
        <b>public</b> <a href="@1@System.Runtime/A.html#045a746eb48cbaa9" class="t t">Task</a> <a id="0f21905d158ce5bb" href="../R/0f21905d158ce5bb.html" target="n" data-glyph="72,1" class="i method">ApplyAsync</a>(<a href="../Handlers/BuildEditorContext.cs.html#9eae17d52bac5e90" class="t t">BuildEditorContext</a> <span id="r6 rd" class="r6 r">context</span>)
        {
            <b>return</b> <a href="#215a33f727edc225" class="i method">ApplyImplementationAsync</a>(<span class="r6 r">context</span>, <span class="s">&quot;Edit&quot;</span>);
        }
 
        <b>private async</b> <a href="@1@System.Runtime/A.html#045a746eb48cbaa9" class="t t">Task</a> <a id="215a33f727edc225" href="../R/215a33f727edc225.html" target="n" data-glyph="76,1" class="i method">ApplyImplementationAsync</a>(<a href="../Handlers/BuildShapeContext.cs.html#8bc42a0bff92d307" class="t t">BuildShapeContext</a> <span id="r7 rd" class="r7 r">context</span>, <a href="@1@System.Runtime/A.html#8281103e6f23cb5c" class="k">string</a> <span id="r8 rd" class="r8 r">displayType</span>)
        {
            <span class="c">// If no location is set from the driver, use the one from the context</span>
            <b>if</b> (<a href="@1@System.Runtime/A.html#8281103e6f23cb5c" class="t t">String</a>.<a href="@1@System.Runtime/A.html#23a8597f842071f4" class="i method">IsNullOrEmpty</a>(<a href="#c3bd1de286359b93" class="i field">_defaultLocation</a>))
            {
                <a href="#c3bd1de286359b93" class="i field">_defaultLocation</a> = <span class="r7 r">context</span>.<a href="../Handlers/BuildShapeContext.cs.html#a5ca883d9d6cfa27" class="i property">DefaultZone</a>;
            }
 
            <span class="c">// Look into specific implementations of placements (like placement.json files and IShapePlacementProviders)</span>
            <a href="../Descriptors/PlacementInfo.cs.html#b3deb872be78af9d" class="k">var</a> <span id="r9 rd" class="r9 r">placement</span> = <span class="r7 r">context</span>.<a href="../Handlers/BuildShapeContext.cs.html#673c0690e2d7c98b" class="i property">FindPlacement</a>(<a href="#d001f52166ea5ae2" class="i field">_shapeType</a>, <a href="#4d04bda26796047a" class="i field">_differentiator</a>, <span class="r8 r">displayType</span>, <span class="r7 r">context</span>);
 
            <span class="c">// Look for mapped display type locations</span>
            <b>if</b> (<a href="#c7dacef7aba61f7d" class="i field">_otherLocations</a> != <b>null</b>)
            {
                <a href="@1@System.Runtime/A.html#8281103e6f23cb5c" class="k">string</a> <span id="r10 rd" class="r10 r">displayTypePlacement</span>;
                <b>if</b> (<a href="#c7dacef7aba61f7d" class="i field">_otherLocations</a>.<span class="i method">TryGetValue</span>(<span class="r8 r">displayType</span>, <b>out</b> <span class="r10 r">displayTypePlacement</span>))
                {
                    <a href="#c3bd1de286359b93" class="i field">_defaultLocation</a> = <span class="r10 r">displayTypePlacement</span>;
                }
            }
 
            <span class="c">// If no placement is found, use the default location</span>
            <b>if</b> (<span class="r9 r">placement</span> == <b>null</b>)
            {
                <span class="r9 r">placement</span> = <b>new</b> <a href="../Descriptors/PlacementInfo.cs.html#b3deb872be78af9d" class="t constructor">PlacementInfo</a>() { <a href="../Descriptors/PlacementInfo.cs.html#a617eb951569e43f" class="i property">Location</a> = <a href="#c3bd1de286359b93" class="i field">_defaultLocation</a> };
            }
 
            <b>if</b> (<span class="r9 r">placement</span>.<a href="../Descriptors/PlacementInfo.cs.html#a617eb951569e43f" class="i property">Location</a> == <b>null</b>)
            {
                <span class="c">// If a placement was found without actual location, use the default.</span>
                <span class="c">// It can happen when just setting alternates or wrappers for instance.</span>
                <span class="r9 r">placement</span>.<a href="../Descriptors/PlacementInfo.cs.html#a617eb951569e43f" class="i property">Location</a> = <a href="#c3bd1de286359b93" class="i field">_defaultLocation</a>;
            }
 
            <b>if</b> (<span class="r9 r">placement</span>.<a href="../Descriptors/PlacementInfo.cs.html#9d69b633834d261c" class="i property">DefaultPosition</a> == <b>null</b>)
            {
                <span class="r9 r">placement</span>.<a href="../Descriptors/PlacementInfo.cs.html#9d69b633834d261c" class="i property">DefaultPosition</a> = <span class="r7 r">context</span>.<a href="../Handlers/BuildShapeContext.cs.html#b2c49d3af2142d67" class="i property">DefaultPosition</a>;
            }
 
            <span class="c">// If there are no placement or it&#39;s explicitly noop then stop rendering execution</span>
            <b>if</b> (<a href="@1@System.Runtime/A.html#8281103e6f23cb5c" class="t t">String</a>.<a href="@1@System.Runtime/A.html#23a8597f842071f4" class="i method">IsNullOrEmpty</a>(<span class="r9 r">placement</span>.<a href="../Descriptors/PlacementInfo.cs.html#a617eb951569e43f" class="i property">Location</a>) || <span class="r9 r">placement</span>.<a href="../Descriptors/PlacementInfo.cs.html#a617eb951569e43f" class="i property">Location</a> == <span class="s">&quot;-&quot;</span>)
            {
                <b>return</b>;
            }
 
            <span class="c">// Parse group placement.</span>
            <a href="#497ccc70acd93c70" class="i field">_groupId</a> = <span class="r9 r">placement</span>.<a href="../Descriptors/PlacementInfo.cs.html#096fc38f5411c3eb" class="i method">GetGroup</a>() ?? <a href="#497ccc70acd93c70" class="i field">_groupId</a>;
 
            <span class="c">// If the shape&#39;s group doesn&#39;t match the currently rendered one, return</span>
            <b>if</b> (!<a href="@1@System.Runtime/A.html#8281103e6f23cb5c" class="t t">String</a>.<a href="@1@System.Runtime/A.html#d47c1f57ad1e1e6e" class="i method">Equals</a>(<span class="r7 r">context</span>.<a href="../Handlers/BuildShapeContext.cs.html#4089a2311ccff5cd" class="i property">GroupId</a> ?? <span class="s">&quot;&quot;</span>, <a href="#497ccc70acd93c70" class="i field">_groupId</a> ?? <span class="s">&quot;&quot;</span>, <a href="@1@System.Runtime/A.html#702797def97ecb7c" class="t t">StringComparison</a>.<a href="@1@System.Runtime/A.html#6c3139b940557bf9" class="i field">OrdinalIgnoreCase</a>))
            {
                <b>return</b>;
            }
 
            <span class="c">// If a condition has been applied to this result evaluate it only if the shape has been placed.</span>
            <b>if</b> (<a href="#943258581b518f59" class="i field">_renderPredicateAsync</a> != <b>null</b> &amp;&amp; !(<b>await</b> <a href="#943258581b518f59" class="i field">_renderPredicateAsync</a>()))
            {
                <b>return</b>;
            }
 
            <a href="../IShape.cs.html#1b6ae4719962ce25" class="k">var</a> <span id="r11 rd" class="r11 r">newShape</span> = <a href="#2ed4a12b193df357" class="i property">Shape</a> = <b>await</b> <a href="#8267af3ecc5a445e" class="i field">_shapeBuilder</a>(<span class="r7 r">context</span>);
 
            <span class="c">// Ignore it if the driver returned a null shape.</span>
            <b>if</b> (<span class="r11 r">newShape</span> == <b>null</b>)
            {
                <b>return</b>;
            }
 
            <a href="../Shapes/ShapeMetadata.cs.html#65f6f514c36f37a2" class="k">var</a> <span id="r12 rd" class="r12 r">newShapeMetadata</span> = <span class="r11 r">newShape</span>.<a href="../IShape.cs.html#2878e16e7126ef66" class="i property">Metadata</a>;
            <span class="r12 r">newShapeMetadata</span>.<a href="../Shapes/ShapeMetadata.cs.html#61cfff60a3572c16" class="i property">Prefix</a> = <a href="#5e4a923e41a80bc5" class="i field">_prefix</a>;
            <span class="r12 r">newShapeMetadata</span>.<a href="../Shapes/ShapeMetadata.cs.html#f8e09c59da8b1ef5" class="i property">Name</a> = <a href="#c04dcef43e54700e" class="i field">_name</a> ?? <a href="#4d04bda26796047a" class="i field">_differentiator</a> ?? <a href="#d001f52166ea5ae2" class="i field">_shapeType</a>;
            <span class="r12 r">newShapeMetadata</span>.<a href="../Shapes/ShapeMetadata.cs.html#4f9261b78ef12feb" class="i property">Differentiator</a> = <a href="#4d04bda26796047a" class="i field">_differentiator</a> ?? <a href="#d001f52166ea5ae2" class="i field">_shapeType</a>;
            <span class="r12 r">newShapeMetadata</span>.<a href="../Shapes/ShapeMetadata.cs.html#7cd0e688e269d1a2" class="i property">DisplayType</a> = <span class="r8 r">displayType</span>;
            <span class="r12 r">newShapeMetadata</span>.<a href="../Shapes/ShapeMetadata.cs.html#f40aa6e287dc38cb" class="i property">PlacementSource</a> = <span class="r9 r">placement</span>.<a href="../Descriptors/PlacementInfo.cs.html#46f313f639fea0e0" class="i property">Source</a>;
            <span class="r12 r">newShapeMetadata</span>.<a href="../Shapes/ShapeMetadata.cs.html#1d5b16539e2f6a16" class="i property">Tab</a> = <span class="r9 r">placement</span>.<a href="../Descriptors/PlacementInfo.cs.html#3959aa601c00b4aa" class="i method">GetTab</a>();
            <span class="r12 r">newShapeMetadata</span>.<a href="../Shapes/ShapeMetadata.cs.html#0ae54e3fe440385c" class="i property">Card</a> = <span class="r9 r">placement</span>.<a href="../Descriptors/PlacementInfo.cs.html#5eb14313be6c4db4" class="i method">GetCard</a>();
            <span class="r12 r">newShapeMetadata</span>.<a href="../Shapes/ShapeMetadata.cs.html#b150121a0c0b99d4" class="i property">Column</a> = <span class="r9 r">placement</span>.<a href="../Descriptors/PlacementInfo.cs.html#d82c3fd28c338c4a" class="i method">GetColumn</a>();
            <span class="r12 r">newShapeMetadata</span>.<a href="../Shapes/ShapeMetadata.cs.html#75eacf8c582a4ce1" class="i property">Type</a> = <a href="#d001f52166ea5ae2" class="i field">_shapeType</a>;
 
            <b>if</b> (<a href="#0ca4c5786f17046b" class="i field">_displaying</a> != <b>null</b>)
            {
                <span class="r12 r">newShapeMetadata</span>.<a href="../Shapes/ShapeMetadata.cs.html#3e503c8daaf2ff97" class="i method">OnDisplaying</a>(<a href="#0ca4c5786f17046b" class="i field">_displaying</a>);
            }
 
            <span class="c">// The _processing callback is used to delay execution of costly initialization</span>
            <span class="c">// that can be prevented by caching</span>
            <b>if</b> (<a href="#f32906b5876a795a" class="i field">_processing</a> != <b>null</b>)
            {
                <span class="r12 r">newShapeMetadata</span>.<a href="../Shapes/ShapeMetadata.cs.html#1902e4380d4941e9" class="i method">OnProcessing</a>(<a href="#f32906b5876a795a" class="i field">_processing</a>);
            }
 
            <span class="c">// Apply cache settings</span>
            <b>if</b> (!<a href="@1@System.Runtime/A.html#8281103e6f23cb5c" class="t t">String</a>.<a href="@1@System.Runtime/A.html#23a8597f842071f4" class="i method">IsNullOrEmpty</a>(<a href="#a0d402a497742e9f" class="i field">_cacheId</a>) &amp;&amp; <a href="#1fe49185803bd400" class="i field">_cache</a> != <b>null</b>)
            {
                <a href="#1fe49185803bd400" class="i field">_cache</a>(<span class="r12 r">newShapeMetadata</span>.<a href="../Shapes/ShapeMetadata.cs.html#a38b899842470d07" class="i method">Cache</a>(<a href="#a0d402a497742e9f" class="i field">_cacheId</a>));
            }
 
            <span class="c">// If a specific shape is provided, remove all previous alternates and wrappers.</span>
            <b>if</b> (!<a href="@1@System.Runtime/A.html#8281103e6f23cb5c" class="t t">String</a>.<a href="@1@System.Runtime/A.html#23a8597f842071f4" class="i method">IsNullOrEmpty</a>(<span class="r9 r">placement</span>.<a href="../Descriptors/PlacementInfo.cs.html#16c0a034342db0a2" class="i property">ShapeType</a>))
            {
                <span class="r12 r">newShapeMetadata</span>.<a href="../Shapes/ShapeMetadata.cs.html#75eacf8c582a4ce1" class="i property">Type</a> = <span class="r9 r">placement</span>.<a href="../Descriptors/PlacementInfo.cs.html#16c0a034342db0a2" class="i property">ShapeType</a>;
                <span class="r12 r">newShapeMetadata</span>.<a href="../Shapes/ShapeMetadata.cs.html#bb3fc0d71dd8679e" class="i property">Alternates</a>.<a href="../Shapes/AlternatesCollection.cs.html#d284dfbcbd2d9276" class="i method">Clear</a>();
                <span class="r12 r">newShapeMetadata</span>.<a href="../Shapes/ShapeMetadata.cs.html#6ffe6442b8f12f40" class="i property">Wrappers</a>.<a href="../Shapes/AlternatesCollection.cs.html#d284dfbcbd2d9276" class="i method">Clear</a>();
            }
 
            <b>if</b> (<span class="r9 r">placement</span> != <b>null</b>)
            {
                <b>if</b> (<span class="r9 r">placement</span>.<a href="../Descriptors/PlacementInfo.cs.html#2f61eb737828a339" class="i property">Alternates</a> != <b>null</b>)
                {
                    <span class="r12 r">newShapeMetadata</span>.<a href="../Shapes/ShapeMetadata.cs.html#bb3fc0d71dd8679e" class="i property">Alternates</a>.<a href="../Shapes/AlternatesCollection.cs.html#e04520fbd26e0d94" class="i method">AddRange</a>(<span class="r9 r">placement</span>.<a href="../Descriptors/PlacementInfo.cs.html#2f61eb737828a339" class="i property">Alternates</a>);
                }
 
                <b>if</b> (<span class="r9 r">placement</span>.<a href="../Descriptors/PlacementInfo.cs.html#cb2fcd01defb8358" class="i property">Wrappers</a> != <b>null</b>)
                {
                    <span class="r12 r">newShapeMetadata</span>.<a href="../Shapes/ShapeMetadata.cs.html#6ffe6442b8f12f40" class="i property">Wrappers</a>.<a href="../Shapes/AlternatesCollection.cs.html#e04520fbd26e0d94" class="i method">AddRange</a>(<span class="r9 r">placement</span>.<a href="../Descriptors/PlacementInfo.cs.html#cb2fcd01defb8358" class="i property">Wrappers</a>);
                }
            }
 
            <a href="../IShape.cs.html#1b6ae4719962ce25" class="k">var</a> <span id="r13 rd" class="r13 r">parentShape</span> = <span class="r7 r">context</span>.<a href="../Handlers/BuildShapeContext.cs.html#e8980395d144a462" class="i property">Shape</a>;
 
            <b>if</b> (<span class="r9 r">placement</span>.<a href="../Descriptors/PlacementInfo.cs.html#194de9c8413df94a" class="i method">IsLayoutZone</a>())
            {
                <span class="r13 r">parentShape</span> = <span class="r7 r">context</span>.<a href="../Handlers/BuildShapeContext.cs.html#3bfa274c6141b575" class="i property">Layout</a>;
            }
 
            <a href="@1@System.Runtime/A.html#8281103e6f23cb5c" class="k">var</a> <span id="r14 rd" class="r14 r">position</span> = <span class="r9 r">placement</span>.<a href="../Descriptors/PlacementInfo.cs.html#baadcd5fd99eb2aa" class="i method">GetPosition</a>();
            <b>var</b> <span id="r15 rd" class="r15 r">zones</span> = <span class="r9 r">placement</span>.<a href="../Descriptors/PlacementInfo.cs.html#780f430ec5ec7c27" class="i method">GetZones</a>();
 
            <b>foreach</b> (<a href="@1@System.Runtime/A.html#8281103e6f23cb5c" class="k">var</a> <span id="r16 rd" class="r16 r">zone</span> <b>in</b> <span class="r15 r">zones</span>)
            {
                <b>if</b> (<span class="r13 r">parentShape</span> == <b>null</b>)
                {
                    <b>break</b>;
                }
 
                <b>if</b> (<span class="r13 r">parentShape</span> <b>is</b> <a href="../Zones/ZoneHoldingBehavior.cs.html#d5c0b8db92fbeb7b" class="t t">IZoneHolding</a> <span id="r17 rd" class="r17 r">layout</span>)
                {
                    <span class="c">// parentShape is a ZoneHolding</span>
                    <span class="r13 r">parentShape</span> = <span class="r17 r">layout</span>.<a href="../Zones/ZoneHoldingBehavior.cs.html#43d22e96543b7e25" class="i property">Zones</a><a href="../Zones/ZoneHoldingBehavior.cs.html#26d913ee76532e50">[</a><span class="r16 r">zone</span>];
                }
                <b>else</b>
                {
                    <span class="c">// try to access it as a member</span>
                    <span class="r13 r">parentShape</span> = <span class="r13 r">parentShape</span>.<a href="../IShape.cs.html#4387ca551b55adb9" class="i method">GetProperty</a>&lt;<a href="../IShape.cs.html#1b6ae4719962ce25" class="t t">IShape</a>&gt;(<span class="r16 r">zone</span>);
                }
            }
 
            <span class="r14 r">position</span> = !<a href="@1@System.Runtime/A.html#8281103e6f23cb5c" class="t t">String</a>.<a href="@1@System.Runtime/A.html#23a8597f842071f4" class="i method">IsNullOrEmpty</a>(<span class="r14 r">position</span>) ? <span class="r14 r">position</span> : <b>null</b>;
 
            <b>if</b> (<span class="r13 r">parentShape</span> <b>is</b> <a href="../Shapes/Shape.cs.html#f395cd18375dde70" class="t t">Shape</a> <span id="r18 rd" class="r18 r">shape</span>)
            {
                <b>await</b> <span class="r18 r">shape</span>.<a href="../Shapes/Shape.cs.html#6961cf06a6808c48" class="i method">AddAsync</a>(<span class="r11 r">newShape</span>, <span class="r14 r">position</span>);
            }
        }
 
        <span class="c">///</span><span class="c"> </span><span class="c">&lt;</span><span class="c">summary</span><span class="c">&gt;</span>
        <span class="c">///</span><span class="c"> Sets the prefix of the form elements rendered in the shape.</span>
        <span class="c">///</span><span class="c"> </span><span class="c">&lt;/</span><span class="c">summary</span><span class="c">&gt;</span>
        <span class="c">///</span><span class="c"> </span><span class="c">&lt;</span><span class="c">remarks</span><span class="c">&gt;</span>
        <span class="c">///</span><span class="c"> The goal is to isolate each shape when edited together.</span>
        <span class="c">///</span><span class="c"> </span><span class="c">&lt;/</span><span class="c">remarks</span><span class="c">&gt;</span>
        <b>public</b> <a href="#9f3c945ca087955a" class="t t">ShapeResult</a> <a id="283022d64d81f797" href="../R/283022d64d81f797.html" target="n" data-glyph="72,1" class="i method">Prefix</a>(<a href="@1@System.Runtime/A.html#8281103e6f23cb5c" class="k">string</a> <span id="r19 rd" class="r19 r">prefix</span>)
        {
            <a href="#5e4a923e41a80bc5" class="i field">_prefix</a> = <span class="r19 r">prefix</span>;
            <b>return</b> <a href="#9f3c945ca087955a" class="k">this</a>;
        }
 
        <span class="c">///</span><span class="c"> </span><span class="c">&lt;</span><span class="c">summary</span><span class="c">&gt;</span>
        <span class="c">///</span><span class="c"> Sets the default location of the shape when no specific placement applies.</span>
        <span class="c">///</span><span class="c"> </span><span class="c">&lt;/</span><span class="c">summary</span><span class="c">&gt;</span>
        <b>public</b> <a href="#9f3c945ca087955a" class="t t">ShapeResult</a> <a id="6680925eae103c79" href="../R/6680925eae103c79.html" target="n" data-glyph="72,1" class="i method">Location</a>(<a href="@1@System.Runtime/A.html#8281103e6f23cb5c" class="k">string</a> <span id="r20 rd" class="r20 r">location</span>)
        {
            <a href="#c3bd1de286359b93" class="i field">_defaultLocation</a> = <span class="r20 r">location</span>;
            <b>return</b> <a href="#9f3c945ca087955a" class="k">this</a>;
        }
 
        <span class="c">///</span><span class="c"> </span><span class="c">&lt;</span><span class="c">summary</span><span class="c">&gt;</span>
        <span class="c">///</span><span class="c"> Sets the location to use for a matching display type.</span>
        <span class="c">///</span><span class="c"> </span><span class="c">&lt;/</span><span class="c">summary</span><span class="c">&gt;</span>
        <b>public</b> <a href="#9f3c945ca087955a" class="t t">ShapeResult</a> <a id="69203efb6f458dc2" href="../R/69203efb6f458dc2.html" target="n" data-glyph="72,1" class="i method">Location</a>(<a href="@1@System.Runtime/A.html#8281103e6f23cb5c" class="k">string</a> <span id="r21 rd" class="r21 r">displayType</span>, <a href="@1@System.Runtime/A.html#8281103e6f23cb5c" class="k">string</a> <span id="r22 rd" class="r22 r">location</span>)
        {
            <b>if</b> (<a href="#c7dacef7aba61f7d" class="i field">_otherLocations</a> == <b>null</b>)
            {
                <a href="#c7dacef7aba61f7d" class="i field">_otherLocations</a> = <b>new</b> <span class="t constructor">Dictionary</span>&lt;<a href="@1@System.Runtime/A.html#8281103e6f23cb5c" class="k">string</a>, <a href="@1@System.Runtime/A.html#8281103e6f23cb5c" class="k">string</a>&gt;(2);
            }
 
            <a href="#c7dacef7aba61f7d" class="i field">_otherLocations</a>[<span class="r21 r">displayType</span>] = <span class="r22 r">location</span>;
            <b>return</b> <a href="#9f3c945ca087955a" class="k">this</a>;
        }
 
        <span class="c">///</span><span class="c"> </span><span class="c">&lt;</span><span class="c">summary</span><span class="c">&gt;</span>
        <span class="c">///</span><span class="c"> Sets the location to use for a matching display type.</span>
        <span class="c">///</span><span class="c"> </span><span class="c">&lt;/</span><span class="c">summary</span><span class="c">&gt;</span>
        <b>public</b> <a href="#9f3c945ca087955a" class="t t">ShapeResult</a> <a id="df7a673276d55fa1" href="../R/df7a673276d55fa1.html" target="n" data-glyph="72,1" class="i method">Displaying</a>(<a href="@1@System.Runtime/A.html#486d58da4553e12d" class="t t">Action</a>&lt;<a href="../Implementation/ShapeDisplayContext.cs.html#0fe1137e8e1878e1" class="t t">ShapeDisplayContext</a>&gt; <span id="r23 rd" class="r23 r">displaying</span>)
        {
            <a href="#0ca4c5786f17046b" class="i field">_displaying</a> = <span class="r23 r">displaying</span>;
 
            <b>return</b> <a href="#9f3c945ca087955a" class="k">this</a>;
        }
 
        <span class="c">///</span><span class="c"> </span><span class="c">&lt;</span><span class="c">summary</span><span class="c">&gt;</span>
        <span class="c">///</span><span class="c"> Sets the shape name regardless its &#39;Differentiator&#39;.</span>
        <span class="c">///</span><span class="c"> </span><span class="c">&lt;/</span><span class="c">summary</span><span class="c">&gt;</span>
        <b>public</b> <a href="#9f3c945ca087955a" class="t t">ShapeResult</a> <a id="8c17d6a16f671c95" href="../R/8c17d6a16f671c95.html" target="n" data-glyph="72,1" class="i method">Name</a>(<a href="@1@System.Runtime/A.html#8281103e6f23cb5c" class="k">string</a> <span id="r24 rd" class="r24 r">name</span>)
        {
            <a href="#c04dcef43e54700e" class="i field">_name</a> = <span class="r24 r">name</span>;
            <b>return</b> <a href="#9f3c945ca087955a" class="k">this</a>;
        }
 
        <span class="c">///</span><span class="c"> </span><span class="c">&lt;</span><span class="c">summary</span><span class="c">&gt;</span>
        <span class="c">///</span><span class="c"> Sets a discriminator that is used to find the location of the shape when two shapes of the same type are displayed.</span>
        <span class="c">///</span><span class="c"> </span><span class="c">&lt;/</span><span class="c">summary</span><span class="c">&gt;</span>
        <b>public</b> <a href="#9f3c945ca087955a" class="t t">ShapeResult</a> <a id="49caf35140b3ffdf" href="../R/49caf35140b3ffdf.html" target="n" data-glyph="72,1" class="i method">Differentiator</a>(<a href="@1@System.Runtime/A.html#8281103e6f23cb5c" class="k">string</a> <span id="r25 rd" class="r25 r">differentiator</span>)
        {
            <a href="#4d04bda26796047a" class="i field">_differentiator</a> = <span class="r25 r">differentiator</span>;
            <b>return</b> <a href="#9f3c945ca087955a" class="k">this</a>;
        }
 
        <span class="c">///</span><span class="c"> </span><span class="c">&lt;</span><span class="c">summary</span><span class="c">&gt;</span>
        <span class="c">///</span><span class="c"> Sets the group identifier the shape will be rendered in.</span>
        <span class="c">///</span><span class="c"> </span><span class="c">&lt;/</span><span class="c">summary</span><span class="c">&gt;</span>
        <span class="c">///</span><span class="c"> </span><span class="c">&lt;</span><span class="c">param</span> <span class="c">name</span><span class="c">=</span><span class="c">&quot;</span><span class="r26 r">groupId</span><span class="c">&quot;</span><span class="c">&gt;</span><span class="c">&lt;/</span><span class="c">param</span><span class="c">&gt;</span>
        <span class="c">///</span><span class="c"> </span><span class="c">&lt;</span><span class="c">returns</span><span class="c">&gt;</span><span class="c">&lt;/</span><span class="c">returns</span><span class="c">&gt;</span>
        <b>public</b> <a href="#9f3c945ca087955a" class="t t">ShapeResult</a> <a id="5d3c3bbc7f9050df" href="../R/5d3c3bbc7f9050df.html" target="n" data-glyph="72,1" class="i method">OnGroup</a>(<a href="@1@System.Runtime/A.html#8281103e6f23cb5c" class="k">string</a> <span id="r26 rd" class="r26 r">groupId</span>)
        {
            <a href="#497ccc70acd93c70" class="i field">_groupId</a> = <span class="r26 r">groupId</span>;
            <b>return</b> <a href="#9f3c945ca087955a" class="k">this</a>;
        }
 
        <span class="c">///</span><span class="c"> </span><span class="c">&lt;</span><span class="c">summary</span><span class="c">&gt;</span>
        <span class="c">///</span><span class="c"> Sets the caching properties of the shape to render.</span>
        <span class="c">///</span><span class="c"> </span><span class="c">&lt;/</span><span class="c">summary</span><span class="c">&gt;</span>
        <b>public</b> <a href="#9f3c945ca087955a" class="t t">ShapeResult</a> <a id="9f2749d70c752eb5" href="../R/../../0000000000.html" target="n" data-glyph="72,1" class="i method">Cache</a>(<a href="@1@System.Runtime/A.html#8281103e6f23cb5c" class="k">string</a> <span id="r27 rd" class="r27 r">cacheId</span>, <a href="@1@System.Runtime/A.html#486d58da4553e12d" class="t t">Action</a>&lt;<a href="/OrchardCore.Infrastructure.Abstractions/A.html#ac2fe3ab5208377e" class="t t">CacheContext</a>&gt; <span id="r28 rd" class="r28 r">cache</span> = <b>null</b>)
        {
            <a href="#a0d402a497742e9f" class="i field">_cacheId</a> = <span class="r27 r">cacheId</span>;
            <a href="#1fe49185803bd400" class="i field">_cache</a> = <span class="r28 r">cache</span>;
            <b>return</b> <a href="#9f3c945ca087955a" class="k">this</a>;
        }
 
        <span class="c">///</span><span class="c"> </span><span class="c">&lt;</span><span class="c">summary</span><span class="c">&gt;</span>
        <span class="c">///</span><span class="c"> Sets a condition that must return true for the shape to render.</span>
        <span class="c">///</span><span class="c"> The condition is only evaluated if the shape has been placed.</span>
        <span class="c">///</span><span class="c"> </span><span class="c">&lt;/</span><span class="c">summary</span><span class="c">&gt;</span>
        <b>public</b> <a href="#9f3c945ca087955a" class="t t">ShapeResult</a> <a id="3dc215de9a348bce" href="../R/3dc215de9a348bce.html" target="n" data-glyph="72,1" class="i method">RenderWhen</a>(<a href="@1@System.Runtime/A.html#87d60abb7092d5a4" class="t t">Func</a>&lt;<a href="@1@System.Runtime/A.html#5ca7b77f3df89fc6" class="t t">Task</a>&lt;<b>bool</b>&gt;&gt; <span id="r29 rd" class="r29 r">renderPredicateAsync</span>)
        {
            <a href="#943258581b518f59" class="i field">_renderPredicateAsync</a> = <span class="r29 r">renderPredicateAsync</span>;
            <b>return</b> <a href="#9f3c945ca087955a" class="k">this</a>;
        }
 
        <b>public</b> <a href="../IShape.cs.html#1b6ae4719962ce25" class="t t">IShape</a> <a id="2ed4a12b193df357" href="../R/2ed4a12b193df357.html" target="n" data-glyph="102,1" class="i property">Shape</a> { <b>get</b>; <b>private set</b>; }
    }
}
</pre></td></tr></table></div></body></html>
