<!DOCTYPE html>
<html><head><title>ILayoutAccessor.cs</title><link rel="stylesheet" href="../../styles.css"><script src="../../scripts.js"></script></head>
<body class="cB" onload="i(11);"><div class="dH">
<table style="width: 100%">
<tr><td>File: <a id="filePath" class="blueLink" href="/#OrchardCore.DisplayManagement/Layout/ILayoutAccessor.cs" target="_top">Layout\ILayoutAccessor.cs</a><br/></td><td></td></tr>
<tr><td>Project: <a id="projectPath" class="blueLink" href="/#OrchardCore.DisplayManagement" target="_top">src\OrchardCore\OrchardCore.DisplayManagement\OrchardCore.DisplayManagement.csproj</a> (OrchardCore.DisplayManagement)</td><td></td></tr>
</table>
</div>
<div class="cz"><table class="tb" cellpadding="0" cellspacing="0"><tr><td valign="top" align="right"><pre id="ln"></pre></td><td valign="top" align="left"><pre id="code">
<b>using</b> <span class="i n">System</span>.<span class="i n">Threading</span>.<span class="i n">Tasks</span>;
<b>using</b> <span class="i n">OrchardCore</span>.<span class="i n">DisplayManagement</span>.<span class="i n">Zones</span>;
 
<b>namespace</b> <span class="i n">OrchardCore</span>.<span class="i n">DisplayManagement</span>.<span class="i n">Layout</span>
{
    <b>public interface</b> <a id="1db760e65443bcbe" href="../R/1db760e65443bcbe.html" target="n" data-glyph="48,0" class="t t">ILayoutAccessor</a>
    {
        <a href="@1@System.Runtime/A.html#5ca7b77f3df89fc6" class="t t">Task</a>&lt;<a href="../Zones/ZoneHoldingBehavior.cs.html#d5c0b8db92fbeb7b" class="t t">IZoneHolding</a>&gt; <a id="eda786ce061efb69" href="../R/eda786ce061efb69.html" target="n" data-glyph="72,1" class="i method">GetLayoutAsync</a>();
    }
}
</pre></td></tr></table></div></body></html>
