<!DOCTYPE html>
<html><head><title>ShapeViewModel.cs</title><link rel="stylesheet" href="../../styles.css"><script src="../../scripts.js"></script></head>
<body class="cB" onload="i(108);"><div class="dH">
<table style="width: 100%">
<tr><td>File: <a id="filePath" class="blueLink" href="/#OrchardCore.DisplayManagement/Views/ShapeViewModel.cs" target="_top">Views\ShapeViewModel.cs</a><br/></td><td></td></tr>
<tr><td>Project: <a id="projectPath" class="blueLink" href="/#OrchardCore.DisplayManagement" target="_top">src\OrchardCore\OrchardCore.DisplayManagement\OrchardCore.DisplayManagement.csproj</a> (OrchardCore.DisplayManagement)</td><td></td></tr>
</table>
</div>
<div class="cz"><table class="tb" cellpadding="0" cellspacing="0"><tr><td valign="top" align="right"><pre id="ln"></pre></td><td valign="top" align="left"><pre id="code">
<b>using</b> <span class="i n">System</span>.<span class="i n">Collections</span>.<span class="i n">Generic</span>;
<b>using</b> <span class="i n">System</span>.<span class="i n">Linq</span>;
<b>using</b> <span class="i n">System</span>.<span class="i n">Threading</span>.<span class="i n">Tasks</span>;
<b>using</b> <span class="i n">Microsoft</span>.<span class="i n">AspNetCore</span>.<span class="i n">Html</span>;
<b>using</b> <span class="i n">OrchardCore</span>.<span class="i n">DisplayManagement</span>.<span class="i n">Shapes</span>;
<b>using</b> <span class="i n">OrchardCore</span>.<span class="i n">DisplayManagement</span>.<span class="i n">Zones</span>;
 
<b>namespace</b> <span class="i n">OrchardCore</span>.<span class="i n">DisplayManagement</span>.<span class="i n">Views</span>
{
    <b>public class</b> <a id="b01fd6b56521ebcd" href="../R/b01fd6b56521ebcd.html" target="n" data-glyph="0,0" class="t t">ShapeViewModel</a> : <a href="../IShape.cs.html#1b6ae4719962ce25" class="t t">IShape</a>, <a href="../IPositioned.cs.html#a4165d2d4d1de091" class="t t">IPositioned</a>
    {
        <b>public</b> <a id="74091754099c242f" href="../R/74091754099c242f.html" target="n" data-glyph="72,1" class="t constructor">ShapeViewModel</a>()
        {
        }
 
        <b>public</b> <a id="65f8041e51e35c43" href="../R/65f8041e51e35c43.html" target="n" data-glyph="72,1" class="t constructor">ShapeViewModel</a>(<a href="@1@System.Runtime/A.html#8281103e6f23cb5c" class="k">string</a> <span id="r0 rd" class="r0 r">shapeType</span>)
        {
            <a href="#4b32e6f48d532013" class="i property">Metadata</a>.<a href="../Shapes/ShapeMetadata.cs.html#75eacf8c582a4ce1" class="i property">Type</a> = <span class="r0 r">shapeType</span>;
        }
 
        <b>private</b> <a href="../Shapes/ShapeMetadata.cs.html#65f6f514c36f37a2" class="t t">ShapeMetadata</a> <a id="b78f59d5b2f25432" href="../R/b78f59d5b2f25432.html" target="n" data-glyph="46,1" class="i field">_metadata</a>;
        <b>public</b> <a href="../Shapes/ShapeMetadata.cs.html#65f6f514c36f37a2" class="t t">ShapeMetadata</a> <a id="4b32e6f48d532013" href="../R/4b32e6f48d532013.html" target="n" data-glyph="102,1" class="i property">Metadata</a> =&gt; <a href="#b78f59d5b2f25432" class="i field">_metadata</a> = <a href="#b78f59d5b2f25432" class="i field">_metadata</a> ?? <b>new</b> <a href="../Shapes/ShapeMetadata.cs.html#8b24797810032d5f" class="t constructor">ShapeMetadata</a>();
 
        <b>public string</b> <a id="f45be67c426fa59c" href="../R/f45be67c426fa59c.html" target="n" data-glyph="102,1" class="i property">Position</a>
        {
            <b>get</b>
            {
                <b>return</b> <a href="#4b32e6f48d532013" class="i property">Metadata</a>.<a href="../Shapes/ShapeMetadata.cs.html#6594626ab983a3f9" class="i property">Position</a>;
            }
 
            <b>set</b>
            {
                <a href="#4b32e6f48d532013" class="i property">Metadata</a>.<a href="../Shapes/ShapeMetadata.cs.html#6594626ab983a3f9" class="i property">Position</a> = <b>value</b>;
            }
        }
 
        <b>public string</b> <a id="5bc56f3ff9e21279" href="../R/5bc56f3ff9e21279.html" target="n" data-glyph="102,1" class="i property">Id</a> { <b>get</b>; <b>set</b>; }
        <b>public string</b> <a id="206c9a28a74abfd7" href="../R/206c9a28a74abfd7.html" target="n" data-glyph="102,1" class="i property">TagName</a> { <b>get</b>; <b>set</b>; }
 
        <b>private</b> <span class="t t">List</span>&lt;<a href="@1@System.Runtime/A.html#8281103e6f23cb5c" class="k">string</a>&gt; <a id="9ab2257c02467195" href="../R/9ab2257c02467195.html" target="n" data-glyph="46,1" class="i field">_classes</a>;
        <b>public</b> <a href="@1@System.Runtime/A.html#b19f71a84062554b" class="t t">IList</a>&lt;<a href="@1@System.Runtime/A.html#8281103e6f23cb5c" class="k">string</a>&gt; <a id="105f22d191c0e10e" href="../R/105f22d191c0e10e.html" target="n" data-glyph="102,1" class="i property">Classes</a> =&gt; <a href="#9ab2257c02467195" class="i field">_classes</a> ??= <b>new</b> <span class="t constructor">List</span>&lt;<a href="@1@System.Runtime/A.html#8281103e6f23cb5c" class="k">string</a>&gt;();
 
        <b>private</b> <span class="t t">Dictionary</span>&lt;<a href="@1@System.Runtime/A.html#8281103e6f23cb5c" class="k">string</a>, <a href="@1@System.Runtime/A.html#8281103e6f23cb5c" class="k">string</a>&gt; <a id="02f95711c7afccc8" href="../R/02f95711c7afccc8.html" target="n" data-glyph="46,1" class="i field">_attributes</a>;
        <b>public</b> <a href="@1@System.Runtime/A.html#20343df0c96b629b" class="t t">IDictionary</a>&lt;<a href="@1@System.Runtime/A.html#8281103e6f23cb5c" class="k">string</a>, <a href="@1@System.Runtime/A.html#8281103e6f23cb5c" class="k">string</a>&gt; <a id="b2e9a9a41c2476c5" href="../R/b2e9a9a41c2476c5.html" target="n" data-glyph="102,1" class="i property">Attributes</a> =&gt; <a href="#02f95711c7afccc8" class="i field">_attributes</a> ??= <b>new</b> <span class="t constructor">Dictionary</span>&lt;<a href="@1@System.Runtime/A.html#8281103e6f23cb5c" class="k">string</a>, <a href="@1@System.Runtime/A.html#8281103e6f23cb5c" class="k">string</a>&gt;();
 
        <b>private</b> <span class="t t">Dictionary</span>&lt;<a href="@1@System.Runtime/A.html#8281103e6f23cb5c" class="k">string</a>, <b>object</b>&gt; <a id="93770e2d37d5c368" href="../R/93770e2d37d5c368.html" target="n" data-glyph="46,1" class="i field">_properties</a>;
        <b>public</b> <a href="@1@System.Runtime/A.html#20343df0c96b629b" class="t t">IDictionary</a>&lt;<a href="@1@System.Runtime/A.html#8281103e6f23cb5c" class="k">string</a>, <b>object</b>&gt; <a id="1c17b52f4d4276cd" href="../R/1c17b52f4d4276cd.html" target="n" data-glyph="102,1" class="i property">Properties</a> =&gt; <a href="#93770e2d37d5c368" class="i field">_properties</a> ??= <b>new</b> <span class="t constructor">Dictionary</span>&lt;<a href="@1@System.Runtime/A.html#8281103e6f23cb5c" class="k">string</a>, <b>object</b>&gt;();
 
        <b>private bool</b> <a id="77f3cc53c23c6ce6" href="../R/77f3cc53c23c6ce6.html" target="n" data-glyph="46,1" class="i field">_sorted</a> = <b>false</b>;
 
        <b>private</b> <span class="t t">List</span>&lt;<a href="../IPositioned.cs.html#a4165d2d4d1de091" class="t t">IPositioned</a>&gt; <a id="7c6f3a4903db8a81" href="../R/7c6f3a4903db8a81.html" target="n" data-glyph="46,1" class="i field">_items</a>;
        <b>public</b> <a href="@1@System.Runtime/A.html#b040fb780bdd59f4" class="t t">IReadOnlyList</a>&lt;<a href="../IPositioned.cs.html#a4165d2d4d1de091" class="t t">IPositioned</a>&gt; <a id="40e71889bf615e89" href="../R/40e71889bf615e89.html" target="n" data-glyph="102,1" class="i property">Items</a>
        {
            <b>get</b>
            {
                <a href="#7c6f3a4903db8a81" class="i field">_items</a> ??= <b>new</b> <span class="t constructor">List</span>&lt;<a href="../IPositioned.cs.html#a4165d2d4d1de091" class="t t">IPositioned</a>&gt;();
 
                <b>if</b> (!<a href="#77f3cc53c23c6ce6" class="i field">_sorted</a>)
                {
                    <a href="#7c6f3a4903db8a81" class="i field">_items</a> = <a href="#7c6f3a4903db8a81" class="i field">_items</a>.<span class="i method">OrderBy</span>(<span id="r1 rd" class="r1 r">x</span> =&gt; <span class="r1 r">x</span>, <a href="../Zones/FlatPositionComparer.cs.html#aba74ad79ab55462" class="t t">FlatPositionComparer</a>.<a href="../Zones/FlatPositionComparer.cs.html#2ddcbf46c66cc6f5" class="i property">Instance</a>).<span class="i method">ToList</span>();
                    <a href="#77f3cc53c23c6ce6" class="i field">_sorted</a> = <b>true</b>;
                }
 
                <b>return</b> <a href="#7c6f3a4903db8a81" class="i field">_items</a>;
            }
        }
 
        <b>public</b> <a href="@1@System.Runtime/A.html#77a292425839ae85" class="t t">ValueTask</a>&lt;<a href="../IShape.cs.html#1b6ae4719962ce25" class="t t">IShape</a>&gt; <a id="37e070765a93c73e" href="../R/37e070765a93c73e.html" target="n" data-glyph="72,1" class="i method">AddAsync</a>(<b>object</b> <span id="r2 rd" class="r2 r">item</span>, <a href="@1@System.Runtime/A.html#8281103e6f23cb5c" class="k">string</a> <span id="r3 rd" class="r3 r">position</span>)
        {
            <b>if</b> (<span class="r2 r">item</span> == <b>null</b>)
            {
                <b>return</b> <b>new</b> <a href="@1@System.Runtime/A.html#681e029e36e2b939" class="t constructor">ValueTask</a>&lt;<a href="../IShape.cs.html#1b6ae4719962ce25" class="t t">IShape</a>&gt;(<a href="#b01fd6b56521ebcd" class="k">this</a>);
            }
 
            <b>if</b> (<span class="r3 r">position</span> == <b>null</b>)
            {
                <span class="r3 r">position</span> = <span class="s">&quot;&quot;</span>;
            }
 
            <a href="#77f3cc53c23c6ce6" class="i field">_sorted</a> = <b>false</b>;
 
            <b>if</b> (<span class="r2 r">item</span> <b>is</b> <span class="t t">IHtmlContent</span>)
            {
                <a href="#7c6f3a4903db8a81" class="i field">_items</a>.<span class="i method">Add</span>(<b>new</b> <a href="../PositionWrapper.cs.html#b4c5af16cf507cb6" class="t constructor">PositionWrapper</a>((<span class="t t">IHtmlContent</span>)<span class="r2 r">item</span>, <span class="r3 r">position</span>));
            }
            <b>else</b> <b>if</b> (<span class="r2 r">item</span> <b>is string</b>)
            {
                <a href="#7c6f3a4903db8a81" class="i field">_items</a>.<span class="i method">Add</span>(<b>new</b> <a href="../PositionWrapper.cs.html#af494ae12d6e265c" class="t constructor">PositionWrapper</a>((<a href="@1@System.Runtime/A.html#8281103e6f23cb5c" class="k">string</a>)<span class="r2 r">item</span>, <span class="r3 r">position</span>));
            }
            <b>else</b>
            {
                <a href="../IPositioned.cs.html#a4165d2d4d1de091" class="k">var</a> <span id="r4 rd" class="r4 r">shape</span> = <span class="r2 r">item</span> <b>as</b> <a href="../IPositioned.cs.html#a4165d2d4d1de091" class="t t">IPositioned</a>;
                <b>if</b> (<span class="r4 r">shape</span> != <b>null</b>)
                {
                    <b>if</b> (<span class="r3 r">position</span> != <b>null</b>)
                    {
                        <span class="r4 r">shape</span>.<a href="../IPositioned.cs.html#2ca9a7fb0b8c7705" class="i property">Position</a> = <span class="r3 r">position</span>;
                    }
 
                    <a href="#7c6f3a4903db8a81" class="i field">_items</a>.<span class="i method">Add</span>(<span class="r4 r">shape</span>);
                }
            }
 
            <b>return</b> <b>new</b> <a href="@1@System.Runtime/A.html#681e029e36e2b939" class="t constructor">ValueTask</a>&lt;<a href="../IShape.cs.html#1b6ae4719962ce25" class="t t">IShape</a>&gt;(<a href="#b01fd6b56521ebcd" class="k">this</a>);
        }
    }
}
</pre></td></tr></table></div></body></html>
